/node_modules
/public/font
/public/images/
/public/storage
/public/css
/public/js
/public/fonts
/public/vendor
/storage/*.key
/vendor
/.idea
/.vagrant
/storage/debugbar
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
access.log
error.log

_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

/.coverage
phpunit-result.xml
phpunit-result.html

.docs/
public/mix-manifest.json
resources/lang/vendor/


!/resources/views/layouts/components/contentheader.blade.php
!public/images/launcher-icon-1x.png
!public/images/launcher-icon-2x.png
!public/images/launcher-icon-4x.png

/public/vendor/l5-swagger
/resources/views/vendor/l5-swagger
/storage/api-docs
composer.lock